/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex: wrap;
}

.box{
    height: 200px;
    background-color: #ffc0cb;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
    padding: 5px;
}

.box-nested{
    height: 190px;
    background-color: #f07f80;
    border: 1px solid white;
    text-align: center;
    line-height: 200px;
}

